{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}},
  {cowboy_cors, {git, "https://github.com/danielwhite/cowboy_cors.git", {tag, "master"}}},
  {sync, {git, "https://github.com/rustyio/sync.git", {tag, "master"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.7.1"}}},
  {lager, {git, "https://github.com/basho/lager.git", {tag, "3.1.0"}}},
  {srly, {git, "https://github.com/msantos/srly.git", {tag, "master"}}},
  {mongodb, {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v0.9.4"}}},
  {qdate, {git, "https://github.com/choptastic/qdate.git", {tag, "0.4.2"}}}
]}.

{relx, [{release, {campus, "0.0.1"}, [campus]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}]}.
